<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Trip Owls </title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <div class="clearfix"><nav>
    <div><li><a class="nav" href="/">HOME</a></li>
      <li><a class="nav" href="/user/">Profile</a></a></li>
      <li><a class="nav" href="/trip/all">My Trips</a></li>
      <li><a class="nav" href="/">Owlsearch</a></li>
      <li><a class="nav" href="/">About us</a></li>
      <li><a class="nav" href="/">$Donate</a></li>
    </div>
  </nav></div>

    <div id="main_pic">
  <div id="main_pic_mask">

<img id="owl" src="http://www.clker.com/cliparts/P/v/o/N/Y/X/owl-big.svg" alt="" />

<div id="session_box">
<input type="hidden" name="session" value="<%= session[:user_id] %>">

    <% if logged_in? %>
    logged in as <%= User.find(session[:user_id]).username %>

    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>

    <% else %>
      <a href="/session/new">login</a>

    <% end %> </div><br>


    <h1> Trip Owls </h1>
  <h4>...a place to find 'Trip pals'.</h4>

  <%= yield %>

  <br><br>
  <br><br>

  <p><a href="#">Facebook Twitter Instgram Github Linkedin</a></p>

  <div class="foot"><footer> © 2016 Ari Crosby </footer></div>
  </div></div>
</body>
