<h2>Login</h2>

<form class="" action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>Login</button>
</form>
