<h2>Login</h2>
  <br><br>
<form class="" action="/session" method="post">
  <label for="">Email address</label>
  <input type="text" name="email">
  <br><br>
  <label for="">Password</label>
  <input type="password" name="password">
  <br><br>
  <button>Login</button>
</form>
  <br><br>
<a href="/user/new">Sign up</a>
