<form action="/user" method="post">

  <label for="">Choose a username:</label>
  <input name="username" type="text">
  <br><br>
  <label for="">Email address:</label>
  <input name="email" type="text">
  <br><br>
  <label for="">Choose a password:</label>
  <input name="password" type="password">
  <br><br>
  <label for="">Retype password:</label>
  <input name="password_confirmation" type="password">
  <br><br>
  <label for="">Your gender</label>
  <input name="gender" type="text">
  <br><br>
  <label for="">Your age group</label>
  <input name="age_group" type="text">
  <br><br>
  <label for="">Your home country</label>
  <input name="home_country" type="text">
  <br><br>
  <label for=""> Paste a profile picture LINK : </label>
  <textarea name="prof_pic_url" rows="4" cols="40"></textarea>
  <br><br>
  <button>create</button>

</form>
